alethic-ism-core @ file:///Users/kasrarasaee/Development/quantumwake/alethic-ism-core
alethic-ism-db @ file:///Users/kasrarasaee/Development/quantumwake/alethic-ism-db
pyyaml
nats-py
python-dotenv
pydantic
psycopg2
openai
tiktoken
mako